body {

  text-align: center;
}

#calculator{
  margin: 0 auto;
  width: 300px;
  height: 500px;
  border: 3px solid black;
}

#screen{
  width: 300px;
  height: 90px;
  padding-top: 10px;
  border: 1px solid black;
}
p{

  font-size: 25px;
}
#button{
  padding-top: 10px;
}

.button{
  width: 70px;
  height: 75px;
}

.num{
  width: 70px;
  height: 75px;
}
#ang{
  width: 70px;
  height: 75px;
}
#baj{
  width: 70px;
  height: 75px;
}
#han{
  width: 70px;
  height: 75px;
}
#gum{
  width: 70px;
  height: 75px;
}
#hav{
  width: 70px;
  height: 75px;
}
#del{
  width: 70px;
  height: 75px;
}
#tok{
  width: 70px;
  height: 75px;
}
